footer {
  padding: 5px 0;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1443;
  font-size: 1.2rem;
}

.footMadeinfo {
  font-size: 1.4rem;
}

@media(max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 0.3rem;
    font-size: 0.8rem;
  }
  .footMadeinfo {
    font-size: 1rem;
  }
}