footer {
  padding: 5px 0;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(33 0 97);
  font-size: 1.2rem;
}

.footMadeinfo {
  font-size: 1.4rem;
}

@media(max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}