.container {
    min-height: 100vh;
    background: url('/public/images/hero.svg');
}

.intoContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1rem;
    flex: 1;
    font-size: 2.75rem;
    padding-top: 1.5rem ;
}