.container {
    background: url('/public/images/hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intoContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 3rem 1.5rem 0 2.5rem ;
}

span.pinkText {
    color: rgb(236, 72, 153);
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    font-size: 2.75rem;
    padding-top: 3rem ;
}

.navUrls img {
    width: 40px;
    height: 40px
}

.navUrls {
    display: flex;
    margin: 1rem;
    align-items: center;
    gap: 1rem;
}

.downloadWrapper {
    margin: 1rem;
    display: flex;
    align-items: center;
}

.downloadButton {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: linear-gradient(to right, #ec4899, #8b5cf6);
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-out;
    width: fit-content;
  }
  
  .downloadButton:hover {
    gap: 0.75rem;
    text-decoration: none;
    color: white;
  }
  
  .downloadIcon {
    width: 16px;
    height: 16px;
    fill: currentColor;
  }
  
  @media (min-width: 768px) {
    .downloadButton {
      font-size: 0.875rem;
      font-weight: 600;
      padding: 1rem 2rem;
    }
  }

@media(max-width: 1024px) {
    .intoContainer {
        flex-direction: column-reverse;
        gap: 0rem;
        padding: 2rem 1rem 0 1rem ;
    }
    .descriptionContainer {
        font-size: 2rem;
    }
    .navUrls {
        justify-content: center;
    }
    .downloadWrapper {
        justify-content: center;
    }
}